*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header pagina */
.navigation-menu{
  height: 70px;
  width: 100%;
  display: flex;
  background-color: #255EE9;
}

.logo{
  height: 70px;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu{
  height: 70px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a{
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  font-size: 15px;
}

.button-accedi{
  height: 70px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-accedi a {
  text-decoration: none;
  color:#000;
  font-size: 14px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
}

/* container intestazione */
.container{
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* img background */
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
  height: 450px;
}

/* titolo */
h1, .container p{
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  height: 90px;
  width: 700px;
  font-size: 45px;
}

/* testo sotto titolo */
.container p {
  min-height: 100px;
  width: 700px;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
}

/* button header */
.btn{
  margin-top: 10px;
  display: flex;
}

.btn-dowload{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  min-height: 45px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  margin-right: 20px;
}

.fa-down-long{
  margin-right: 10px;
}

.btn-apri{
  width: 250px;
  min-height: 45px;
  background-color: #23272A;
  border: none;
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
}

/* main section*/

.channel{
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* debug */
  background-color: #B0D7DE;
}

/* section reverse */
.reverse{
  flex-direction: row-reverse;
}

.img{
  width: 500px;
  min-height: 450px;

  /* debug */
  background-color: #FFF4B3;
}

.title-section{
  width: 500px;
  min-height: 100px;

  /* debug */
  background-color: #fff;
}

.description{
  width: 500px;
  min-height: 450px;

  /* debug */
  background-color: #FFC619;
}

/* videocall section */
.videocontainer{
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* debug */
  background-color: #B0D7DE;
}

.title-videocall{
  width: 1000px;
  min-height: 100px;

  /* debug */
  background-color: #E78C85;
}

.videocall{
  width: 1000px;
  min-height:100px;

  /* debug */
  background-color: #FFF4B3;
}

.video-img{
  width: 1000px;
  min-height: 500px;

  /* debug */
  background-color: #fff;
}

/* call to action */
.cta{
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* debug */
  background-color: #B0D7DE;
}

h3{
  width: 500px;
  min-height: 100px;

  /* debug */
  background-color: #f4b797;
}


.btn-scarica{
  width: 500px;
  min-height: 100px;

  /* debug */
  background-color: rgb(66, 131, 131);
}

/* footer */
footer{
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 60px;

  /* debug */
  background-color: #292841;
}

.icon-section{
  width: 15%;
  min-height: 300px;

  /* debug */
  background-color: aqua;
}

.product{
  width: 15%;
  min-height: 300px;

  /* debug */
  background-color: rgb(21, 160, 160); 
}

.company{
  width: 15%;
  min-height: 300px;

  /* debug */
  background-color: rgb(0, 83, 83);
}

.resources{
  width: 15%;
  min-height: 300px;

  /* debug */
  background-color: rgb(105, 133, 133); 

}

.norme{
  width: 15%;
  min-height: 300px;

  /* debug */
  background-color: rgb(7, 56, 56); 
}

.ending{
  width: 95%;
  min-height: 100px;

  /* debug */
  background-color: #B0D7DE;
}


