*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Whitney', sans-serif;
}

/* header pagina */
.navigation-menu{
  height: 70px;
  width: 100%;
  display: flex;
  background-color: #255EE9;
}

.logo{
  height: 70px;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu{
  height: 70px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a{
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  font-size: 15px;
}

.button-accedi{
  height: 70px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-accedi a {
  text-decoration: none;
  color:#000;
  font-size: 14px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
}

/* container intestazione */
.container{
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* img background */
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
  height: 450px;
}

/* titolo */
h1, .container p{
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  height: 90px;
  width: 700px;
  font-size: 43px;
}

/* testo sotto titolo */
.container p {
  min-height: 100px;
  width: 700px;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
}

/* button header */
.btn{
  margin-top: 10px;
  display: flex;
}

.btn-dowload{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  min-height: 45px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  margin-right: 20px;
}

.fa-down-long{
  margin-right: 10px;
}

.btn-apri{
  width: 250px;
  min-height: 45px;
  background-color: #23272A;
  border: none;
  color: #fff;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

/* main section*/

/* discord channel section */
.channel{
  width: 100%;
  min-height: 600px;
  background-color: #ffffff;
  padding-top: 50px;
}

.img{
  display: inline-block;
  width: 50%;
  min-height: 450px;
  margin-left: 120px;
  background-image: url("../img/item1.svg");
  background-repeat: no-repeat;
  float: left;
}

.title-section{
  width: 26%;
  min-height: 200px;
  margin: 25px 0 20px 40px;
  font-size: 48px;
  color: #23272A;
  display: inline-block;
}

.description{
  width: 26%;
  min-height: 200px;
  margin-left: 40px;
  display: inline-block;
  line-height: 1.5;
  font-size: 18px;
  color: #23272A;
}

/* channel section reverse */
.reverse{
  background-color: #F6F6F6;
}

.img-reverse{
  margin-left: 0;
  margin-right: 120px;
  background-image: url("../img/item2.svg");
  float: right;
}

.title-reverse{
  width: 24%;
  min-height: 120px;
  font-size: 48px;
  margin: 25px 0 20px 200px;
}

.des-reverse{
  width: 24%;
  margin-left: 200px;
  font-size: 17px;
}

/* community section */
.img-comm{
  background-image: url("../img/item3.svg");
}

.title-comm{
  min-height: 120px;  
  font-size: 48px;
}

.comm{
  font-size: 19px;
}

/* videocall section */
.videocontainer{
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
}

.title-videocall{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  min-height: 100px;
  font-size: 50px;
  margin-top: 40px;
  color: #23272A
}

.videocall{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 930px;
  min-height:60px;
  line-height: 1.5;
  font-size: 20px;
  color: #23272A
}

.video-img{
  width: 1000px;
  min-height: 550px;
  background-image: url("../img/item4-big.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* call to action */
.cta{
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
}

h3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  min-height: 100px;
  font-size: 30px;
  color: #23272A;

  /* stars background */
  background-image: url("../img/stars.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


.btn-scarica{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  min-height: 45px;
  text-decoration: none;
  background-color: #7289DA;
  color: #fff;
  border-radius: 30px;
}

/* footer */
footer{
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 130px;
  background-color: #23272A;
}

/* sezione lingua */
.icon-section{
  width: 25%;
  min-height: 300px;
}

h4{
  color: #6D85D7;
  font-size: 35px;
  margin-bottom: 20px;
}

#flag{
  width: 20px;
  height: auto;
}

#ita, .fa-angle-down{
  color: #eee;
} 

.fa-twitter, .fa-instagram, .fa-square-facebook, .fa-youtube{
  color: #eee;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}


/* prodotto */
.product{
  width: 15%;
  min-height: 300px; 
  display: flex;
  flex-direction: column;
}

h5{
  color: #6D85D7;
  font-size: 15px;
  margin-bottom: 20px;
}

footer a{
  text-decoration: none;
  color: #eee;
  margin-bottom: 20px;
  font-size: 15px;
}

/* compagnia */
.company{
  width: 15%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.resources{
  width: 15%;
  min-height: 300px;
  display: flex;
  flex-direction: column; 

}

.norme{
  width: 15%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.ending{
  width: 95%;
  min-height: 100px;

  /* debug */
  background-color: #B0D7DE;
}


